.contact-title {
  font-size: 2rem;
  font-weight: 700;
  font-family: $font;
  color: $primary_color;
  text-align: center;
  padding-top: 80px;
  margin-bottom: 80px;
}

.contact_form {
  background-color: $secondary_color;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;

  .wpcf7 {
    width: 70%;
    margin-top: 30px;
    form {
      p {
        label {
          font-size: 1rem;
          font-family: $font;
          color: white;
          span {
            width: 95%;
            display: block;
            input,
            textarea {
              width: 100%;
              border: none;
              border-radius: 0.5rem;
              padding: 0.75rem 1rem;
              margin-bottom: 1.25rem;
              resize: none;
            }
          }
        }
        input[type="submit" i] {
          width: 100%;
          padding: 1rem;
          border-radius: 0.5rem;
          background-color: white;
          border: none;
          font-family: $font;
          font-size: 1rem;
          color: $primary_color;
          cursor: pointer;
          &:hover {
            color: $hover_color;
          }
        }
      }
    }
  }
}