.contact-title {
  font-size: 2rem;
  font-weight: 700;
  font-family: $font;
  color: $primary_color;
  text-align: center;
  padding-top: 80px;
  margin-bottom: 80px;
}

.form {
  background-color: $secondary_color;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;

  .wpcf7 {
    width: 70%;
  }

  input[type="text" i] {
    width: 100%;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
    margin-bottom: 1.25rem;
  }

  input[type="email"] {
    width: 100%;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
    margin-bottom: 1.25rem;
  }

  textarea {
    width: 100%;
    resize: none;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
    margin-bottom: 1.25rem;
  }

  label {
    font-size: 1rem;
    font-family: $font;
    color: white;
  }

  input[type="submit" i] {
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: white;
    border: none;
    font-family: $font;
    font-size: 1rem;
    color: $primary_color;
    cursor: pointer;
  }

  input[type="submit" i]:hover {
    color: $hover_color;
  }
}
