.footer-nav {
  height: 40px;
  display: flex;
  gap: 2%;
  justify-content: center;
  border-top: 1px solid black;
  margin-top: 60px;

  /* Ajustement responsive */
  @media screen and (max-width: 770px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 45px 0;
    margin-bottom: inherit;
  }

  li {
    font-family: "Poppins";
    font-size: 16px;
    text-transform: uppercase;
    list-style-type: none;

    /* Style des liens dans les éléments de liste */
    a {
      color: $primary_color;
      text-decoration: none;

      /* Effet de survol des liens pour une meilleure visibilité */
      &:hover {
        font-weight: 700;
        color: #f25c05;
      }
    }
  }
}
