/*************** menu de navigation *******************/

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;

  .menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    .logo a {
      text-decoration: none;
    }
    h2 {
      font-size: 1.5rem;
      font-weight: 700;
      color: $hover_color;
      font-family: $font;
      text-transform: uppercase;
    }

    .main-menu {
      display: flex;
      align-items: center;

      .navMenu {
        display: flex;
        gap: 30px;
        list-style-type: none;

        li {
          font-family: "Poppins";
          font-size: 16px;
          text-transform: uppercase;

          a {
            color: $primary_color;
            text-decoration: none;
            cursor: pointer;

            &:hover {
              font-weight: 700;
              color: $hover_color;
            }
          }
        }
      }
    }
  }
}

/* Menu BURGER */
@media screen and (max-width: 768px) {
  .nav-bar {
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    padding-inline: 16px;

    &.open {
      position: relative;
      z-index: 2;
      animation: openNav 1.5s ease-in-out 0s forwards;
      -webkit-animation: openNav 1.5s ease-in-out 0s forwards;
    }
    .menu {
      .burgerMenu {
        width: 30px;
        height: 20px;
        display: flex !important;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;

        .bar {
          width: 100%;
          height: 4px;
          background-color: $primary_color;
          transition: transform 0.3s ease-in-out;
        }

        &.open {
          .bar:nth-child(1) {
            transform: rotate(45deg) translate(5px, 5px);
          }

          .bar:nth-child(2) {
            opacity: 0;
          }

          .bar:nth-child(3) {
            transform: rotate(-45deg) translate(5px, -5px);
          }
        }
      }

      .main-menu {
        display: flex !important;
        flex-direction: column;
        position: absolute;
        z-index: 999;
        top: 80px;
        right: 0;
        background-color: $secondary_color;
        width: 100vw;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: max-height 1.2s ease-in-out, opacity 1.2s ease-in-out;

        &.open {
          max-height: 40vh;
          opacity: 1;
        }

        &.close {
          animation: closeNav 1.5s ease-in-out 0s forwards;
          -webkit-animation: closeNav 1.5s ease-in-out 0s forwards;
        }

        .navMenu {
          flex-direction: column;
          gap: 18px;
          justify-content: center;
          align-items: center;
          padding-inline: 0;

          li {
            font-size: 1.2rem;

            a {
              color: white;
            }
          }
        }
      }
    }
  }
}

@keyframes openNav {
  0% {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes closeNav {
  0%,
  100% {
    max-height: 40vh;
    opacity: 1;
  }

  80% {
    max-height: 0;
    opacity: 0;
  }
}

/* Ajustement pour la tablette */
@media only screen and (min-width: 768px) and (max-width: 960px) {
  header {
    padding-inline: 55px;
  }
}
