.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  font-family: $font;
}

.square {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 800px;
  width: 100%;
}

.image,
.description {
  padding: 20px;

  .description_title {
    font-size: 3rem;
  }

  .description_content,
  .pitch {
    font-size: 1.2rem;
    letter-spacing: 1.5;
  }
}

.image .haut img.mylogo {
  max-width: 200px;
  height: 200px;
  border-radius: 50%;
}

.nom {
  font-size: 1.5rem;
  color: $primary_color;
  text-transform: capitalize;
}

.metier {
  font-size: 1.2rem;
  color: $primary_color;
  text-transform: capitalize;
}

.social a {
  margin: 0 10px;
  font-size: 24px;
  color: $secondary_color;
}

.btn a button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  background-color: $secondary_color;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  width: 20%;
  transition: background-color 0.3s;
}

.btn a button:hover {
  background-color: $hover_color;
}

@media (min-width: 768px) {
  .square {
    flex-direction: row;
    justify-content: space-between;
  }

  .image,
  .description {
    max-width: 50%;
    text-align: left;
  }

  .description .btn {
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .square {
    max-width: 1200px;
  }
}
