// .wrapper {
//   min-height: 100vh;
//   width: 100vw;
//   font-family: "poppins";
//   letter-spacing: 2px;
//   background-color: $primary_color;
//   max-width: 40%;
//   height: 100%;

//   .square {
//     position: absolute;
//     top: 20%;
//     left: 20%;
//     transform: translate(-50%, -50%);
//     width: 1000px;
//     height: 70%;
//     z-index: 10;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     gap: 10px;
//     background-color: $secondary_background;
//     animation: moveDown 1.5s ease-in-out forwards;
//     .image {
//       background-color: $secondary_color;
//       box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       justify-content: flex-end;
//       min-width: 50%;
//       height: 100%;
//       object-fit: cover;
//       .haut {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         justify-content: center;
//         .mylogo {
//           width: 200px;
//           height: 200px;
//           border-radius: 50%;
//           margin: 0 10px;
//         }
//         h2 {
//           text-transform: capitalize;
//           color: $secondary_background;
//           font-size: 2rem;
//         }
//         p {
//           text-transform: capitalize;
//           color: $secondary_background;
//           font-size: 1.2rem;
//           text-align: center;
//         }
//         hr {
//           background-color: #fff;
//           width: 40%;
//           height: 4px;
//           margin-left: auto;
//           margin-right: auto;
//         }
//       }
//       .social {
//         background-color: $secondary_background;

//         height: 60px;
//         width: 100%;
//         font-size: 3vh;
//         display: flex;
//         align-items: center;
//         justify-content: space-evenly;
//         a {
//           color: $primary_color;
//         }
//       }
//     }
//     .description {
//       padding: 20px;
//       min-width: 50%;
//       height: 100%;
//       display: flex;
//       flex-direction: column;
//       align-items: start;
//       justify-content: center;
//       color: $primary_color;
//       background-color: #fff;
//       h2 {
//         font-size: 10vh;
//         font-weight: bold;
//         text-transform: capitalize;
//       }
//       h3 {
//         font-size: 1.5rem;
//         font-weight: 200;
//         text-transform: capitalize;
//       }
//       .btn {
//         display: flex;
//         align-items: center;
//         justify-content: space-evenly;
//         font-size: 1rem;
//         width: 100%;
//         .cvBtn {
//           background-color: $secondary_color;
//           color: white;
//           padding: 10px 30px;
//           border: none;
//           border-radius: 20px;
//           cursor: pointer;
//           transition: all 0.3s;
//           width: 150px;
//           &:hover {
//             background-color: #fff;
//             color: $secondary_color;
//             border: 1px solid $secondary_color;
//           }
//         }
//         .projetBtn {
//           background-color: #fff;
//           color: $secondary_color;
//           padding: 10px 30px;
//           border: 1px solid $secondary_color;
//           border-radius: 20px;
//           font-size: 1rem;
//           cursor: pointer;
//           transition: all 0.3s;
//           width: 150px;
//           &:hover {
//             background-color: $secondary_color;
//             color: #fff;
//           }
//         }
//       }
//       p {
//         height: 40%;
//       }
//     }
//   }
// }

/* Animation for moving the square down */
// @keyframes moveDown {
//   from {
//     transform: translateY(-12%);
//   }
//   to {
//     transform: translateY(0);
//   }
// }

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  font-family: $font;
}

.square {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 800px;
  width: 100%;
}

.image,
.description {
  padding: 20px;

  .description_title {
    font-size: 3rem;
  }

  .description_content,
  .pitch {
    font-size: 1.2rem;
    letter-spacing: 1.5;
  }
}

.image .haut img.mylogo {
  max-width: 200px;
  height: 200px;
  border-radius: 50%;
}

.nom {
  font-size: 1.5rem;
  color: $primary_color;
}

.metier {
  font-size: 1.2rem;
  color: $primary_color;
}

.social a {
  margin: 0 10px;
  font-size: 24px;
  color: $secondary_color;
}

.btn a button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  background-color: $secondary_color;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  width: 20%;
  transition: background-color 0.3s;
}

.btn a button:hover {
  background-color: $hover_color;
}

@media (min-width: 768px) {
  .square {
    flex-direction: row;
    justify-content: space-between;
  }

  .image,
  .description {
    max-width: 50%;
    text-align: left;
  }

  .description .btn {
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .square {
    max-width: 1200px;
  }
}
