.title_projets {
  font-size: 2.5rem;
  font-weight: 700;
  color: $primary_color;
  font-family: $font;
  text-align: center;
  padding-top: 100px;
}

.projets {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 30px 30px;
  width: 90vw;
  margin-top: 80px;
  margin-right: auto;
  margin-left: auto;
  font-family: $font;

  .projet {
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;

    .illustration {
      width: 70%;
      height: 70%;
      a {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10px 10px 0 0;
        }
        &:hover {
          img {
            transform: scale(1.1);
            transition: transform 0.5s;
          }
        }
      }
    }

    .extrait {
      font-size: 0.9rem;
      margin-top: 10px;
      font-family: $font;
      text-align: center;
      color: $primary_color;
    }
  }
}

// Tablet portrait (unchanged)
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .title_projets {
    font-size: 2rem;
    padding-top: 80px;
  }

  .projets {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px 20px;
  }
}

// Mobiles (corrected)
@media only screen and (max-width: 767px) {
  .title_projets {
    font-size: 1.5rem;
    padding-top: 60px;
  }

  .projets {
    grid-template-columns: 1fr; // Set to a single column
    grid-template-rows: auto;
    gap: 15px; // Reduced gap for mobile
    width: 100%; // Ensure full width usage

    .projet {
      .illustration {
        width: 100%; // Adjust width to 100%
        height: auto; // Auto height for proper scaling
      }

      .extrait {
        font-size: 0.8rem;
      }
    }
  }
}
