.single_projet {
  display: flex;
  max-width: 100%;
  font-family: $font;

  .illustration_projet {
    width: 50%;
    padding-left: 60px;
    padding-top: 50px;
  }
  .projet_infos {
    width: 40%;
    padding-top: 100px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .content {
    color: $primary_color;
    font-size: 1rem;
    font-weight: 300;
    // font-family: $font;
    letter-spacing: 0.25px;
    line-height: 1.5;
    text-align: justify;

    h2 {
      color: $secondary_color;
      font-size: 1.5rem;
    }
  }

  .content_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;

    .technos {
      display: flex;
      justify-content: space-around;
      align-items: center;
      text-transform: uppercase;
      gap: 15px;

      span {
        font-size: 1.2rem;
        padding: 5px;
        border-radius: 5px;
        background-color: $secondary_color;
        color: white;
      }
    }

    .link {
      a {
        color: $secondary_color;
        text-decoration: none;
        font-size: 1.4rem;
        // font-family: $font;
        font-weight: bolder;
        .fa-brands {
          font-size: 2rem;
        }
      }
    }
  }
}

.navigation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 20px;
  font-family: $font;

  .next a {
    color: $secondary_color;
    text-decoration: none;
    font-size: 1.4rem;
    // font-family: $font;
    font-weight: bolder;
  }

  .home_page a {
    color: $secondary_color;
    text-decoration: none;
    font-size: 1.2rem;
    // font-family: $font;
    font-weight: bolder;
    &::after {
      display: block;
      content: "";
      border-bottom: solid 3px $hover_color;
      transform: scaleX(0);
      transition: transform 250ms ease-in-out;
    }

    &:hover::after {
      color: $hover_color;
      transform-origin: 0% 50%;
      transform: scaleX(1);
    }
  }

  .previous a {
    color: $secondary_color;
    text-decoration: none;
    font-size: 1.4rem;
    // font-family: $font;
    font-weight: bolder;
  }
}
//tootip:https://youtu.be/ujlpzTyJp-M?si=L3KmsxEXnrx6PhZ4

// Tablet portrait
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .single_projet {
    flex-direction: column;
    align-items: center;
    padding: 0 20px;

    .illustration_projet,
    .projet_infos {
      width: 90%;
      padding-left: 0;
      padding-right: 0;
      padding-top: 20px;
    }

    .projet_infos {
      padding-top: 40px;
      padding-bottom: 20px;
    }
  }

  .content_footer {
    flex-direction: column;
    align-items: center;

    .technos {
      gap: 10px;
      margin-bottom: 20px;
    }

    .link a {
      font-size: 1.2rem;
    }
  }
}

// Mobiles
@media only screen and (max-width: 767px) {
  .single_projet {
    flex-direction: column;
    align-items: center;
    padding: 0 10px;

    .illustration_projet,
    .projet_infos {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      padding-top: 10px;
    }

    .projet_infos {
      padding-top: 30px;
      padding-bottom: 10px;
      width: 90%;
    }

    .content {
      font-size: 0.7rem;
      h2 {
        font-size: 1.2rem;
      }
    }
  }

  .illustration_projet img {
    width: 300px;
    height: 300px;
  }

  .content_footer {
    flex-direction: column;
    align-items: center;

    .technos {
      gap: 8px;
      margin-bottom: 10px;
    }

    .link a {
      font-size: 1.2rem;
    }
  }

  .navigation {
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .next a,
    .previous a,
    .home_page a {
      font-size: 1rem;
      margin-bottom: 10px;
    }
  }
}
