@charset "UTF-8";
/*************** menu de navigation *******************/
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}
.nav-bar .menu {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.nav-bar .menu .logo a {
  text-decoration: none;
}
.nav-bar .menu h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #f25c05;
  font-family: "poppins";
  text-transform: uppercase;
}
.nav-bar .menu .main-menu {
  display: flex;
  align-items: center;
}
.nav-bar .menu .main-menu .navMenu {
  display: flex;
  gap: 30px;
  list-style-type: none;
}
.nav-bar .menu .main-menu .navMenu li {
  font-family: "Poppins";
  font-size: 16px;
  text-transform: uppercase;
}
.nav-bar .menu .main-menu .navMenu li a {
  color: #011f26;
  text-decoration: none;
  cursor: pointer;
}
.nav-bar .menu .main-menu .navMenu li a:hover {
  font-weight: 700;
  color: #f25c05;
}

/* Menu BURGER */
@media screen and (max-width: 768px) {
  .nav-bar {
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    padding-inline: 16px;
  }
  .nav-bar.open {
    position: relative;
    z-index: 2;
    animation: openNav 1.5s ease-in-out 0s forwards;
    -webkit-animation: openNav 1.5s ease-in-out 0s forwards;
  }
  .nav-bar .menu .burgerMenu {
    width: 30px;
    height: 20px;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }
  .nav-bar .menu .burgerMenu .bar {
    width: 100%;
    height: 4px;
    background-color: #011f26;
    transition: transform 0.3s ease-in-out;
  }
  .nav-bar .menu .burgerMenu.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .nav-bar .menu .burgerMenu.open .bar:nth-child(2) {
    opacity: 0;
  }
  .nav-bar .menu .burgerMenu.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  .nav-bar .menu .main-menu {
    display: flex !important;
    flex-direction: column;
    position: absolute;
    z-index: 999;
    top: 80px;
    right: 0;
    background-color: #e00000;
    width: 100vw;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 1.2s ease-in-out, opacity 1.2s ease-in-out;
  }
  .nav-bar .menu .main-menu.open {
    max-height: 40vh;
    opacity: 1;
  }
  .nav-bar .menu .main-menu.close {
    animation: closeNav 1.5s ease-in-out 0s forwards;
    -webkit-animation: closeNav 1.5s ease-in-out 0s forwards;
  }
  .nav-bar .menu .main-menu .navMenu {
    flex-direction: column;
    gap: 18px;
    justify-content: center;
    align-items: center;
    padding-inline: 0;
  }
  .nav-bar .menu .main-menu .navMenu li {
    font-size: 44px !important;
  }
  .nav-bar .menu .main-menu .navMenu li a {
    color: red;
  }
}
@keyframes openNav {
  0% {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes closeNav {
  0%, 100% {
    max-height: 40vh;
    opacity: 1;
  }
  80% {
    max-height: 0;
    opacity: 0;
  }
}
/* Ajustement pour la tablette */
@media only screen and (min-width: 768px) and (max-width: 960px) {
  header {
    padding-inline: 55px;
  }
}
/* Animation for moving the square down */
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  font-family: "poppins";
}

.square {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 800px;
  width: 100%;
}

.image,
.description {
  padding: 20px;
}
.image .description_title,
.description .description_title {
  font-size: 3rem;
}
.image .description_content,
.image .pitch,
.description .description_content,
.description .pitch {
  font-size: 1.2rem;
  letter-spacing: 1.5;
}

.image .haut img.mylogo {
  max-width: 200px;
  height: 200px;
  border-radius: 50%;
}

.nom {
  font-size: 1.5rem;
  color: #011f26;
}

.metier {
  font-size: 1.2rem;
  color: #011f26;
}

.social a {
  margin: 0 10px;
  font-size: 24px;
  color: #025e73;
}

.btn a button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #025e73;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  width: 20%;
  transition: background-color 0.3s;
}

.btn a button:hover {
  background-color: #f25c05;
}

@media (min-width: 768px) {
  .square {
    flex-direction: row;
    justify-content: space-between;
  }
  .image,
  .description {
    max-width: 50%;
    text-align: left;
  }
  .description .btn {
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .square {
    max-width: 1200px;
  }
}
.title_projets {
  font-size: 2.5rem;
  font-weight: 700;
  color: #011f26;
  font-family: "poppins";
  text-align: center;
  padding-top: 100px;
}

.projets {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px 30px;
  grid-template-areas: ". ." ". ." ". .";
  width: 90vw;
  margin-top: 80px;
  margin-right: auto;
  margin-left: auto;
  font-family: "poppins";
}
.projets .projet {
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.projets .projet .illustration {
  width: 70%;
  height: 70%;
}
.projets .projet .illustration a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.projets .projet .illustration a:hover img {
  transform: scale(1.1);
  transition: transform 0.5s;
}
.projets .projet .extrait {
  font-size: 0.9rem;
  margin-top: 10px;
  font-family: "poppins";
  text-align: center;
  color: #011f26;
}

.competence_title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #011f26;
  font-family: "poppins";
  text-align: center;
  padding-top: 80px;
}

.competence_item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
  padding-top: 50px;
}
.competence_item .item img {
  width: 100px;
  height: 100px;
}

.contact-title {
  font-size: 2rem;
  font-weight: 700;
  font-family: "poppins";
  color: #011f26;
  text-align: center;
  padding-top: 80px;
  margin-bottom: 80px;
}

.contact_form {
  background-color: #025e73;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}
.contact_form .wpcf7 {
  width: 70%;
  margin-top: 30px;
}
.contact_form .wpcf7 form p label {
  font-size: 1rem;
  font-family: "poppins";
  color: white;
}
.contact_form .wpcf7 form p label span {
  width: 95%;
  display: block;
}
.contact_form .wpcf7 form p label span input,
.contact_form .wpcf7 form p label span textarea {
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  margin-bottom: 1.25rem;
  resize: none;
}
.contact_form .wpcf7 form p input[type=submit i] {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: white;
  border: none;
  font-family: "poppins";
  font-size: 1rem;
  color: #011f26;
  cursor: pointer;
}
.contact_form .wpcf7 form p input[type=submit i]:hover {
  color: #f25c05;
}

.single_projet {
  display: flex;
  max-width: 100%;
  font-family: "poppins";
}
.single_projet .illustration_projet {
  width: 50%;
  padding-left: 60px;
  padding-top: 50px;
}
.single_projet .projet_infos {
  width: 40%;
  padding-top: 100px;
  padding-left: 40px;
  padding-right: 40px;
}
.single_projet .content {
  color: #011f26;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.25px;
  line-height: 1.5;
  text-align: justify;
}
.single_projet .content h2 {
  color: #025e73;
  font-size: 1.5rem;
}
.single_projet .content_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.single_projet .content_footer .technos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  gap: 15px;
}
.single_projet .content_footer .technos span {
  font-size: 1.2rem;
  padding: 5px;
  border-radius: 5px;
  background-color: #025e73;
  color: white;
}
.single_projet .content_footer .link a {
  color: #025e73;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: bolder;
}
.single_projet .content_footer .link a .fa-brands {
  font-size: 2rem;
}

.navigation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 20px;
}
.navigation .next a {
  color: #025e73;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: bolder;
}
.navigation .home_page a {
  color: #025e73;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bolder;
}
.navigation .home_page a::after {
  display: block;
  content: "";
  border-bottom: solid 3px #f25c05;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.navigation .home_page a:hover::after {
  color: #f25c05;
  transform-origin: 0% 50%;
  transform: scaleX(1);
}
.navigation .previous a {
  color: #025e73;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: bolder;
}

.footer-nav {
  height: 40px;
  display: flex;
  gap: 2%;
  justify-content: center;
  border-top: 1px solid black;
  margin-top: 60px;
  /* Ajustement responsive */
}
@media screen and (max-width: 770px) {
  .footer-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 45px 0;
    margin-bottom: inherit;
  }
}
.footer-nav li {
  font-family: "Poppins";
  font-size: 16px;
  text-transform: uppercase;
  list-style-type: none;
  /* Style des liens dans les éléments de liste */
}
.footer-nav li a {
  color: #011f26;
  text-decoration: none;
  /* Effet de survol des liens pour une meilleure visibilité */
}
.footer-nav li a:hover {
  font-weight: 700;
  color: #f25c05;
}

/************************** fonts ***************************/
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 300;
  font-style: regular;
  font-display: swap;
}
body {
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=theme.css.map */
